{{ $selected := .Params.experts}}
<section class="section"  id="experts">
	<div class="container">
		<div class="row">
			<div class="col-lg-4" >
			<!-- this image is for trigger this section fallback background image -->
			<div class="title text-right">
				<h2>Industry Led</h2>				
			</div>
			</div>
			<div class="col-lg-8">
			<p>Our training is delivered by a wide range of world-class practitioners who have a strong track record successful AI and data training and adoption across many industries. </p>
{{ range where $.Site.RegularPages "Section" "experts" }}
<div class="card">
	<div class="row">
	  <div class="col-md-3 px-sm-0">
		<img class="img-fluid card-img lozad card-image-cover" data-src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> </h5>
		  <p class="card-text">{{ .Summary }}</p>
		</div>
	  </div>
	</div>
	</div>
{{ end }}
		</div>
	</div>
</section>