
{{ $all_features := index .Site.Data.en "course-features" }}
{{ $selected := .Params.course_features}}


<section id="course-features" class="section">
	<div class="container">
		<div class="row">
{{ $size := div 12 (len $selected) }}

{{ range $all_features }}
{{ if in $selected .title }}
<article class="col-lg-{{ $size }} col-md-6 col-12 clearfix mb-4">
	<div>
	  <div class="media-wrapper">
		<img class="img-fluid lozad" data-src="{{ .image | absURL }}" alt="{{ .title }}">
	  </div>  
	  <div class="content">
		<h3>{{ .title }}</h3>
		<p>{{ .description }}</p>
	  </div>
	</div>
  </article>
{{ end }}
{{ end }}
		</div>
	</div>
</section>