<section id="menu" class="sticky-top navigation navbar-light">
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a id="logo" class="navbar-brand p-0 mb-0" href="{{ .Site.BaseURL | relLangURL }}">
				{{ if .Site.Params.logo }}
				<img class="img-fluid" src="{{ .Site.Params.logo_white | absURL }}" alt="{{ .Site.Title }}">
				{{ else }}
				{{ .Site.Title }}
				{{ end }}
			</a>			

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link " href="#summary">Overview</a></li>
                {{ if isset .Params "experts" }}<li class="nav-item"><a class="nav-link " href="#experts">Trainers</a></li>{{ end }}
                {{ if isset .Params "course_structure" }}<li class="nav-item"><a class="nav-link " href="#course_structure">Structure</a></li>{{ end }}
                {{ if isset .Params "course_details" }}<li class="nav-item"><a class="nav-link " href="#offers">Contact</a></li>{{ end }}
				</ul>				
			</div>
		</nav>
	</div>
</section>
<!-- Script to hide logo when at top from here: https://stackoverflow.com/questions/23857164/how-to-make-logo-appear-in-fixed-menu-when-scrolling-down-page -->
<script>
    $(document).ready(function(){
         //hides them logo when the page loads
         $("#logo").hide();
    });

    $(document).scroll(function () {
    var y = $(document).scrollTop(),
       image = $("#logo"),
       header = $("#menu");


    if (y >= 100) {
        //show the image and make the header fixed
        header.addClass('fixed');
        image.show();
    } else {
        //put the header in original position and hide image
        header.removeClass('fixed');
        image.hide();
    }
    });
</script>
