<section class="section"  id="{{ .id }}">
	<div class="container">
		<div class="row">
			<div class="col-lg-4" >
			<!-- this image is for trigger this section fallback background image -->
			<div class="title text-right">
				<h2>{{ .title }}</h2>				
			</div>
            </div>
			<div class="col-lg-8 for-tables">
				{{.text  | replaceRE "(?ms)<!--more-->.+" "" | markdownify }}
            </div>
        </div>
    </div>
</section>