{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="single-blog" class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{"<!-- section title -->" | safeHTML}}
          <div class="title text-left">
            <h1>{{ .Title }}</h1>
            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="{{ `team/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
                <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
              </ul>
            <div class="border-meghna"></div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-8  text-left">
              {{ .Content}}
          </div>
          <div class="col-4">
            <img class="img-fluid mb-50" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
          </div>
        </div>
    </div>
</section>

{{ end }}