<!DOCTYPE html>
<html  prefix="og: http://ogp.me/ns#" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  <head  itemscope itemtype="{{ .Site.BaseURL }}">
{{ partial "head.html" . }}
{{ partial "twittercard.html" . }}
{{ partial "og.html" . }}
{{ partial "seo-general.html" . }}
{{ partial "seo-products.html" . }}
{{ partial "seo-pages.html" . }}
</head>
<body id="body">
  <div id="content">
    {{ partial "preloader.html" . }}
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>