{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="single-blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-sm-1 pt-md-3 pt-lg-5">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-left">
          <h1>{{ .Title }}</h1>
          <div class="border-meghna"></div>
          <p>{{ .Content}} </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}