/*
Template Name: Meghna Responsive HTML5/CSS3 Business Template
Author: Themefisher
Author URI: www.Themefisher.com
Description: Meghna Responsive HTML5/CSS3 Portfolio Template
Version: 1.3
Tags: one-page, single-page, portfolio, custom-colors, post-formats, responsive, html5, css3
*/
/*=== MEDIA QUERY ===*/

@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab");
html {
  background-color: rgba(225, 225, 225, 0.2);
  color: rgb(189, 189, 189);
}

body {
  background-color: rgba(225, 225, 225, 0.2); /*2d30478*/
  font-family: "Zilla Slab", sans-serif;
  color: #292f36;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Fjalla One", sans-serif;
  color: #292f36;
}

p {
  font-family: "Zilla Slab", sans-serif;
}

[scroll-behavior="smooth"] {
  scroll-behavior: smooth;
}

pre {
  color: #afbac4;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #009688;
}

::selection {
  color: #fff;
  background: #009688;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

figure {
  margin: 0;
}

a {
  color: #009688;
  transition: all 0.3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #6d466b;
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.mb-50 {
  margin-bottom: 50px;
}

.btn {
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  transition: all 0.3s ease-in 0s;
}

.btn:focus {
  color: #ddd;
}

.btn-transparent {
  border: 1px solid #737f8a;
  color: #737f8a;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #009688;
  border: 1px solid transparent;
  color: white;
;
}

.border-meghna {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}

.border-meghna:before {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: #009688;
}

.color {
  color: #009688;
}

.sub-title {
  padding: 0 0 50px;
}

.sub-title > h3 {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-one {
  /* background-color: rgba(225, 225, 225, 0.7);*/
  /*  #353b43a1 rgba(255, 255, 255, 0.5) */
}

.bg-dark {
  background: #353b43a1;
}

.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

figure {
  margin: 0;
}

a {
  transition: all 0.2s ease-in 0s;
}

iframe {
  border: 0;
}



.btn-main {
  background: #009688;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
}

.btn-main:hover {
  background: #6d466b;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 50px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2d3047;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  max-height: 200px;
}

.title {
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #009688;
}

.title h2 span {
  color: #ffba49;
}

.title p {
  color: #292f36;
}

#single-blog p {
  color: #292f36;
}

.title.title-white h2 {
  color: #fff;
}

.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background-color: rgba(225, 225, 225, 0.4);
}

.overly {
  position: relative;
}

.overly:before {
  content: "";
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  margin-top: 10px;
  display: inline-block;
}

.copyright img {
  max-height: 100px;
  max-width: 100%;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  background-color: #2d3047;
  width: 100%;
  margin-bottom: 0;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #009688;
}

.navbar-light, .navbar-light .navbar-nav .nav-link {
  background-color: #009688;

}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-item a,
.nav-item a:hover {
  font-size: 1.5em;
}

.navbar-brand {
  max-width: 75%;
}
.navbar-toggler:focus {
  outline: 0;
}

.bg-1 {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-area {
  background-color: rgb(45, 48, 71);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area-sm {
  min-height: 40vh;
  max-height: 75vh;
}

.hero-area:before {
  content: "";
  background: radial-gradient(rgba(45, 48, 71, 0.95), rgba(45, 48, 71, 0.7));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-area .block {
  text-align: center;
  z-index: 99;
}

.hero-area .block .video-button {
  background: #009688;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.hero-area .block .video-button a i {
  font-size: 2em;
}

.hero-area .block .video-button a {
  color: #fff;
}

.hero-area .block .video-button a:hover {
  color: #009688;
}

.hero-area .block .video-button:hover {
  background: white;
}

.hero-course {
  height: 25%;
}

.video-button-outer {
  margin-top: 20px;
}

.scroll-chevrons {
  padding-top: 10px;
  color: white;
}

nav > a > img {
  max-height: 75px;
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.hero-area .block .video-button i {
  line-height: 60px;
  font-size: 20px;
  margin-left: 3px;
}

.hero-area .block h1 {
  font-size: 90px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .hero-area .block h1 {
    font-size: 60px;
  }
}

.hero-area .block p {
  color: #fff;
  font-size: 24px;
  width: 70%;
  margin: 0 auto;
}

.hero-area .block .btn-transparent {
  margin-top: 40px;
  border-color: #fff;
  padding: 14px 50px;
  font-size: 18px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-area-video {
  height: 100vh;
  position: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area-video .block {
  color: #fff;
  text-align: center;
}

.hero-area-video .block h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-area-video .block p {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.hero-area-video .block .btn-main {
  margin-top: 20px;
}

/* Feature section */
#feature p, #feature ul {
  font-size: 24px;
}

/*=================================================================
 Call To Action 1
==================================================================*/
.call-to-action {
  background-attachment: fixed;
}

.call-to-action h2 {
  font-weight: 700;
  color: #444;
}

.call-to-action p {
  font-size: 16px;
  color: #666;
}

.call-to-action .btn-main {
  margin-top: 20px;
}

.contact-us {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .contact-us {
    padding-top: 80px;
  }
}

.contact-form {
  margin-bottom: 60px;
}

.contact-info p {
  margin-bottom: 25px;
}

.con-info {
  margin-bottom: 20px;
}

.con-info i,
.con-info span {
  padding-right: 5px;
}

.error {
  display: none;
  padding: 10px;
  color: #d8000c;
  border-radius: 4px;
  font-size: 13px;
  background-color: #ffbaba;
}

.success {
  background-color: #6cb670;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 13px;
  padding: 10px;
}

#map {
  height: 370px;
  width: 100%;
}

/*=================================================================
  Pricing section
==================================================================*/
.price-item {
  border: 1px solid rgba(236, 239, 241, 0.07);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.price-title {
  background-color: rgba(225, 225, 225, 0.4);
  padding: 30px 0 20px;
}

.price-title h3 {
  color: #009688;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.price-title p {
  font-size: 18px;
  font-weight: 400;
}

.price-title .value {
  color: #009688;
  font-size: 30px;
}

.pricing ul,
.skill-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pricing li {
  padding: 10px 0;
  background-color: #ddd;
  color: #292f36;
}

.pricing li:last-child {
  border-bottom: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 20px;
}

.pricing li:nth-child(2n) {
  background-color: rgba(225, 225, 225, 0.4);
  color: #ddd;
}

/*=================================================================
  Portfolio section
==================================================================*/
.portfolio-filter {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-filter .btn {
  outline: 0;
  border: 1px solid #737f8a;
  background: transparent;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 700;
  color: #737f8a;
  transition: 0.3s all;
}

.portfolio-filter .btn.active {
  border-color: #009688;
}

.portfolio-block {
  position: relative;
  color: #555;
}

.portfolio-block:before {
  transition: all 0.3s ease-in-out;
  background: white;
  opacity: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  content: "";
}

.portfolio-block img {
  width: 100%;
  height: auto;
}

.portfolio-block:hover:before {
  opacity: 1;
}

.portfolio-block:hover .caption h4 {
  top: 45%;
}

.portfolio-block:hover .caption {
  opacity: 1;
  top: 55%;
}

.portfolio-block .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.portfolio-block .caption h4 {
  font-size: 16px;
  font-weight: 600;
}

.portfolio-block .caption h4 a {
  color: #555;
}

.portfolio-block .caption .search-icon {
  background: #009688;
  width: 50px;
  height: 50px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
}

.portfolio-block .caption .search-icon i {
  line-height: 50px;
}

/*=================================================================
  Our skills
==================================================================*/
.skill-bar p {
  font-size: 18px;
  margin-bottom: 0;
}

.skill-bar p span {
  font-style: italic;
  font-size: 30px;
  color: rgba(187, 187, 187, 0.34);
  display: inline-block;
  vertical-align: middle;
}

.skill-bar .progress {
  height: 24px;
  border-radius: 0;
}

.skill-bar .progress .progress-bar {
  background: #009688;
}

/*=================================================================
  Testimonial section
==================================================================*/
.testimonial:before {
  background: rgba(45, 48, 71, 0.7);
}

.client-info {
  margin: 0 auto;
  width: 65%;
}

@media (max-width: 768px) {
  .client-info {
    width: 90%;
  }
}

.client-comment p {
  color: white;
  font-size: 24px;
}

.client-thumb img {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 115px;
  width: 100%;
}

.client-meta {
  margin: 0 0 10px;
}

.client-meta h3 {
  margin: 15px 0 5px 0;
  color: white;
}

.client-meta span {
  font-size: 18px;
  color: #ddd;
}

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.75);
  opacity: unset;
  font-size: large;
}

.slick-dots li.slick-active button:before {
  color: #009688;
  opacity: unset;
}

/*=================================================================
  Latest Posts
==================================================================*/

.post-block {
  background-color: rgba(225, 225, 225, 0.4);
  margin-bottom: 10px;
  min-height: 450px;
}

.home {
  min-height: 500px;
}

.post-block .content {
  padding: 20px;
}

.post-block .content h3 {
  margin: 0 0 6px;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

.note .media-wrapper {
  border-bottom: 1px solid #4e595f;
}

.note .excerpt h3 {
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

.all-post {
  margin-top: 50px;
}

/*=================================================================
  Blog Page
==================================================================*/

#blog-page {
  margin: 0 0 40px;
}

#blog h2 {
  text-align: center;
}

#blog h3 {
  margin-top: 2.5%;
  color: #009688;
}

#blog .title p,
#single-blog p {
  font-size: 1.2em;
}

#blog li,
#single-blog li {
  font-family: "Zilla Slab", sans-serif;
  color: #292f36;
  font-size: 1.2rem;
}

#blog .text-left a,
#single-blog a {
  color: #009688;
}

#blog .text-left a:hover,
#single-blog a:hover {
  color: #292f36;
}

#single-blog h1 {
  text-align: center;
  color: #009688;
  font-size: 3em;
  margin-top: -5%;
}

#single-blog h2 {
  color: #009688;
  margin-top: 2.5%;
  font-weight: lighter;
  font-size: 2em;
}

#single-blog div.border-meghna::before {
  background-color: #ffba49;
}

#single-blog th {
  color: #009688;
  background-color: none;
  background-color: #f4f4f4;
}

#single-blog tr {
  color: #3a3a3a;
  vertical-align: top;
}

#single-blog td {
  padding-right: 10px;
}

tr:nth-child(odd) {
  background-color: #e6e6e6;
}

#single-blog table {
  margin: 5% auto;
  width: 75%;
}

.title.title-white h2 {
  color: #fff;
}

.post-meta {
  font-size: 13px;
  margin: 20px 0 0;
  padding: 0 20px 10px;
}

.post-meta a {
  color: #009688;
}

.post-meta > span {
  color: #666;
  border-right: 1px solid #dedede;
  display: inline-block;
  font-size: 13px;
  margin: 10px 10px 0 0;
  padding-right: 10px;
}

.post-meta > span:last-child {
  border-right: 0;
}

.post-meta > span i {
  margin-right: 5px;
}

.post-excerpt {
  padding: 0 20px;
  margin-bottom: 60px;
}

.post-excerpt h3 a {
  color: #000;
}

.post-excerpt blockquote {
  line-height: 22px;
  margin: 20px 0;
  font-size: 16px;
}

.single-blog {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
}

.blog-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  margin: 20px 0;
  padding: 25px 0;
}

.next-prev a {
  color: #000;
}

.next-prev a:hover {
  color: #009688;
}

.next-prev .prev-post i {
  margin-right: 10px;
}

.next-prev .next-post i {
  margin-left: 10px;
}

.social-profile ul li {
  margin: 0 10px 0 0;
  display: inline-block;
}

.social-profile ul li a {
  color: #4e595f;
  display: block;
  font-size: 16px;
}

.social-profile ul li a i:hover {
  color: #009688;
}

.comments-section {
  margin-top: 35px;
}

.author-about {
  margin-top: 40px;
}

.post-author {
  margin-right: 20px;
}

.post-author > img {
  border: 1px solid #dedede;
  max-width: 120px;
  padding: 5px;
  width: 100%;
}

/*=================================================================
  Footer section
==================================================================*/

footer {
  background-color: #2d3047;
}

footer h3 {
  color: #ddd;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li a {
  color: #ddd;
}
footer ul li a:hover {
  color: #009688;
}

.social-icon {
  padding: 60px 0 35px;
}

.social-icon ul {
  text-align: center;
}

.social-icon ul li {
  margin-bottom: 4px;
}

.social-icon ul li a {
  background-color: #fff;
  border: 1px solid transparent;
  display: block;
  height: 70px;
  width: 70px;
  transition: all 400ms ease-out 0s;
}

.social-icon ul li a:hover {
  background: #009688;
}

.social-icon ul li a:hover i {
  color: #fff;
  opacity: 1;
}

.social-icon ul li a i {
  color: #55606a;
  display: inline-block;
  font-size: 32px;
  line-height: 70px;
  margin: 0;
  opacity: 0.3;
  transition: all 400ms ease-out 0s;
}

.copyright {
  padding: 20px 0;
  color: #ddd;
}

.copyright img {
  margin-bottom: 15px;
}

.copyright p {
  margin-top: 10px;
}

#scrollUp {
  border: 1px solid #4e595f;
  bottom: 15px;
  color: #fff;
  display: none;
  padding: 8px 12px;
  position: fixed;
  right: 20px;
  z-index: 600;
}

#scrollUp:hover {
  background-color: #009688;
  border: 1px solid #009688;
}

/*=================================================================
	Single Blog Page
==================================================================*/
.single-blog {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
}

blockquote {
  border-left: 5px solid #ffba49;
  font-style: italic;
  line-height: 22px;
  padding: 20px 20px 10px 20px;
  margin: 20px 0;
}

figure img {
  display: block;
  margin: 0 auto 5px;
}

figcaption {
  text-align: center;
}

.pagination {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.pagination > li {
  display: inline-block;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 0;
  background-color: #26292e;
  border: 1px solid #26292e;
  text-align: center;
  margin-right: 6px;
  font-weight: 700;
  color: #55606a;
}

.pagination .page-item .page-link:hover {
  background: #009688;
  border-color: #009688;
  color: #fff;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 0;
}

.pagination .page-item.active .page-link {
  background: #009688;
  color: #fff;
  border-color: #009688;
}

.simple-icon {
  color: #6c7b8a;
  padding: 10px;
  display: block;
}

.content-block {
  padding-top: 5%;
}


/*=================================================================
	Cards
==================================================================*/
.card {
  margin-bottom: 2.5%;
}

.card-image-cover {
  height: 100%;
  object-fit: cover;
}

.card .row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding: 0;
}

/*=================================================================
	Tables
==================================================================*/

.for-tables th {
  background-color: #009688;
  color: white;
  padding-left: 2em;
  font-family: "Fjalla One", sans-serif;
  font-weight: 100;
}

.for-tables td {
  padding-left: 2em;
}