{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style="background-image: url(/images/backgrounds/NightingaleHero.svg);">
	<!-- this image is for trigger this section fallback background image -->

	<div class="block">
		<h1>{{ .title | markdownify }}</h1>
		<p>{{ .content | markdownify }}</p>
		<div class="video-button video-button-outer">
			{{ if .icon }}
				<div class="video-button">
					<a class="popup-youtube" href="https://www.youtube.com/watch?v={{ .youtube_video}}" title="Nightingale HQ video">
						<i class="{{ .icon }}"></i>
					</a>
				</div>
			</div>
			{{ end }}
		{{ if .button.enable }}
		{{ with .button }}
		<p class="scroll-chevrons">
			<a href="{{ .link }}" class="page-scroll" title="Scroll">
				<i class="{{ .icon }}" title="Scroll"></i>
			</a>
		</p>
		{{ end }}
		{{ end }}
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}