{{ $hubspotBlog := getJSON "https://api.hubapi.com/content/api/v2/blog-posts?hapikey=0663fe6d-44d2-4f65-9fc7-07274f1a8054&limit=6&order_by=-created&state=PUBLISHED&content_group_id=9490395598" }}


{{"<!-- Start blog Section -->" | safeHTML}}
<section id="blog" class="section blog-front">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with i18n "blogTitle" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with i18n "blogTitle" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range $post := $hubspotBlog.objects }}
			<article class="col-lg-4 col-md-6 col-12 clearfix mb-4">
				<div class="post-block home">
				  <div class="media-wrapper">
					<img class="img-fluid lozad" data-src="{{ $post.post_rss_summary_featured_image | replaceRE "hubfs/5410772" "hub/5410772/hubfs" }}?width=400" alt="{{ $post.title }}">
				  </div>
			  
				  <div class="content">
					<h3><a href="{{ $post.url }}">{{ $post.title }}</a></h3>
					<p>{{  replaceRE "&amp;" "&" (replaceRE "&nbsp;" "" (plainify $post.post_body))  | truncate 140 }}</p>
					<a class="btn btn-transparent" href="{{ $post.url }}">{{ i18n "readMore" }}</a>
				  </div>
				</div>
			  </article>
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main"
					href="https://blog.nightingalehq.ai">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}