{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
			<div class="contact-info col-lg-12 text-center">
				<h3>{{ .subtitle | markdownify }}</h3>
				<p> {{ .content | markdownify }} </p>
				</div>
				<div class="contact-info col-lg-6">
				<h4>Schedule a call</h4>
				<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<div class="meetings-iframe-container" data-src="https://landing.nightingalehq.ai/meetings/stephnhq/online-call-with-nightingale-hq?embed=true"></div>
			
{{ $form := resources.Get "js/hubspotform.js" }}
{{ $meeting := resources.Get "js/hubspotmeeting.js" }}

{{ $fullscript := slice $form $meeting | resources.Concat "/js/hubspot.js" | minify | fingerprint }}
<script  src="{{ $fullscript.Permalink }}"></script>


			
					
			</div>

			{{"<!-- Contact Form -->" | safeHTML}}
			<div class="col-lg-6">
				<h4>Send message</h4>
				<script>
					hbspt.forms.create({
					  portalId: "5410772",
					  formId: "5e482a6c-263f-4155-bfd9-f80b70c01276"
				  });
				  </script>
				  
				  
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
			<h4>Other contact options</h4>
				{{"<!-- Contact Details -->" | safeHTML}}
				
					<div class="contact-details">
						{{ range .contact_details }}
						<div class="con-info clearfix">
							<i class="{{ .icon }}"></i>
							{{ if .link }}<a href="{{.link}}">{{.info}}</a>
							{{else }}
							<span>{{ .info }}</span>
							{{end}}
						</div>
						{{ end }}
					</div>
				</div>
				{{ end }}
				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="col-lg-6">
					<h4>Social networks</h4>
					<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
				</div>
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}

{{ end }}