<form class="form-inline" method="GET" action="/search">
    <div class="form-group search-form">
      <input name="search" 
             type="text" 
             class="form-control" 
             placeholder="Search site">
    </div>
  </form>