{{ if eq .Section "products" }} 
  {{ $paginator := .Paginate (where .Pages "Section" "products") }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{end }}
  {{end }}

  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="{{ .Site.Params.sitename }}" /> 
  <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} /> 
  <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  
  {{ with.Params.author }} 
    <meta property="og:article:author" content="{{humanize . }}" />
    <meta property="article:author" content="{{humanize . }}" /> 
    <meta name="author" content="{{humanize . }}" /> 
  {{ end }}
  
  {{ with.Params.category }} 
    <meta name="news_keywords" content="{{ index . 0 }}" />
    <meta property="article:section" content="{{ index . 0 }}" /> 
  {{ end }}

  <script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "name": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "{{ with.Params.author }} {{ . }} {{ else }} {{ .Site.Params.sitename }} {{ end }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ with .Params.image }}{{ . | absURL }}{{ end }}"
      },
      "manufacturer": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}"
        }
      },
      "offers":{
        "@type": "Offer",
        "url":"{{ .Permalink }}",
        "availability": "https://schema.org/{{ with.Params.availability }}{{ . }}{{ else }}PreSale{{ end }}",
        "seller": {
          "@type": "Organization",
          "name": "{{ .Site.Title }}",
          "logo": {
            "@type": "imageObject",
            "url": "{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}"
          }
        }
      }
    }
  </script>
{{ end }}