
{{ if eq .Section "" }}

<meta property="og:type" content="website" /> 
<meta name="author" content="{{ .Site.Params.author }}" />
<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ .Permalink }}", 
    "name": "{{ .Title }}", 
    "logo": "{{ with .Site.Params.logo }}{{ . |  }}{{ end }}" 
  }
</script>

{{ end }}