{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}

			{{ range .service_item}}
			<article class="col-lg-4 col-md-6 col-12 clearfix">
				<div class="post-block">
				  <div class="media-wrapper">
					<img class="img-fluid lozad" data-src="{{ .image }}" alt="{{ .name }}">
				  </div>
			  
				  <div class="content">
					<h3><a href="{{ .link }}">{{ .name }}</a></h3>
					<p>{{ .content }}</p>
					<a class="btn btn-transparent" href="{{ .link }}" title="{{ .name }}">{{ i18n "readMore" }}</a>
				  </div>
				</div>
			  </article>
			{{ end }}
			
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}