<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta name="twitter:site" content="{{- .Site.BaseURL  -}}">
{{ with .Params.image }} 
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" /> 
{{ else }}
  <meta name="twitter:image" content="{{ .Site.Params.defaultImage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.defaultImage | absURL }}" />
  <meta name="twitter:image:alt" content="{{ .Site.Params.defaultImageAlt | absURL }}" /> 
{{ end }}
{{ with .Params.image_alt -}}<meta name="twitter:image:alt" content="{{- . -}}">{{- end }}
{{ with .Site.Params.twitter }}
<meta name="twitter:card" content="{{- .card -}}">

{{ with .creator -}}<meta name="twitter:creator" content="{{- . -}}">{{- end }}

{{- if eq .card "app" }}
{{ with .app_country }}<meta name="twitter:app:country" content="{{- . -}}">{{ end }}
{{ with .app_name_iphone }}<meta name="twitter:app:name:iphone" content="{{- . -}}">{{ end }}
{{ with .app_id_iphone }}<meta name="twitter:app:id:iphone" content="{{- . -}}">{{ end }}
{{ with .app_url_iphone }}<meta name="twitter:app:url:iphone" content="{{- . -}}">{{ end }}
{{ with .app_name_ipad }}<meta name="twitter:app:name:ipad" content="{{- . -}}">{{ end }}
{{ with .app_id_ipad }}<meta name="twitter:app:id:ipad" content="{{- . -}}">{{ end }}
{{ with .app_url_ipad }}<meta name="twitter:app:url:ipad" content="{{- . -}}">{{ end }}
{{ with .app_name_googleplay }}<meta name="twitter:app:name:googleplay" content="{{- . -}}">{{ end }}
{{ with .app_id_googleplay }}<meta name="twitter:app:id:googleplay" content="{{- . -}}">{{ end }}
{{ with .app_url_googleplay }}<meta name="twitter:app:url:googleplay" content="{{- . -}}">{{ end }}
{{- end }}

{{- if eq .card "player" }}
<meta name="twitter:player" content="{{- .video | absURL -}}">
{{ with .player_width }}<meta name="twitter:player:width" content="{{- . -}}">{{ end }}
{{ with .player_height }}<meta name="twitter:player:height" content="{{- . -}}">{{ end }}
{{- end }}

{{ end }}