<ul>{{ range sort .Site.Pages.ByDate }}
    {{ if .Pages}}
    <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if not .Lastmod.IsZero }}  - Latest change: 
     {{  ( .Lastmod.Format "02 Jan 2006" ) }}{{ end}}
     <ul>
     {{ range .Pages.ByTitle}}
     <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if not .Lastmod.IsZero }}  - Latest change: 
        {{  ( .Lastmod.Format "02 Jan 2006" ) }}{{ end}}</li>
        {{ end }}
     </ul>
     
    </li>
    
    {{ end }}
{{ end }}

</ul>