
{{ define "main" }}
{{ partial "navigation.html" . }}



<div class="container">
  <div class="row">
  <div class="col-12">
    {{"<!-- section title -->" | safeHTML}}
    <div class="title text-center">
      <h2>{{ with .Title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
          {{ with .Title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
      <div class="border-meghna"></div>
    </div>
  </div></div>
<div class="row supersearch">
    No search results found.
</div>
</div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
<script id="search-results-template" type="x-tmpl-mustache">
  [[#value]]
    <article class="col-lg-4 col-md-6 col-12 clearfix mb-4">
      <div class="post-block">
    <div class="media-wrapper">
      <img alt="[[ title ]]" class="img-fluid lozad" title="[[ title ]]" 
      data-src="[[ image ]]" onerror="this.onerror=null;this.src='[[ image ]]'">
    </div>
        <div class="content">
          <h3><a href="[[ url ]]" title="[[ title ]]">[[ title ]]</a></h3>
          <p>[[ description ]]</p>
          <a class="btn btn-transparent" href="[[ url ]]"  title="[[ title ]]">{{ i18n "readMore" }}</a>
        </div>
      </div>
    </article>
  [[/value]]
</script>

<script>
  (function(){
    Mustache.tags = [ '[[', ']]', ];
    var template = document.getElementById("search-results-template").innerHTML;
    Mustache.parse(template);

    var query = getUrlParameter('search');
    var azSearchInstance = '{{ .Site.Params.azureSearchInstance }}';
    var azSearchIndex = '{{ .Site.Params.azureSearchIndex }}';
    var azApiKey = '{{ .Site.Params.azureSearchApiKey }}';
    var azSearchResults = '{{ .Site.Params.azureSearchResults }}';
    var encodedQuery = encodeURIComponent(query);
    var constructedurl = 'https://' + azSearchInstance + '.search.windows.net/indexes/' 
          + azSearchIndex + '/docs?api-version=2019-05-06&$top=' + azSearchResults 
          + '&api-key=' + azApiKey + '&search=' + encodedQuery;
    $.ajax({
      url: constructedurl,
      method: 'GET'
    }).done(function (data) {
      data.value.forEach(element => {
        element.image = element.image.replace(/\s/g, '');
      });

      var render = Mustache.render(template, data);
      if (data.value.length>=1) {
      $(".supersearch").html(render)
      };

    });

    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
  })();
</script>
{{ end }}