{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section" id="single-blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="title text-center">
					<h2>{{ with .Title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .Title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
				<div class="content text-center">
					<figure>
						{{ if .Params.Image }}
						<img class="rounded-circle img-fluid" src="{{.Params.Image | relURL }}" alt="{{ .Title }}">
						{{else if .Params.Email}}
						<img class="rounded-circle img-fluid"
							src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" alt="{{ .Title }}">
						{{ end }}
					</figure>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a class="simple-icon" href="{{ .link | safeURL}}"><i
									class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{{ $content := (where .Site.RegularPages "Params.author" .Title )}}
{{if gt (len $content) 0}}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>Associated<span class="color">
							Content</h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{ range $content }}
			{{ .Render "article" }}
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
{{ end }}